// @font-face {
//     font-family: 'LOGOfont';
//     src: url('../layout/logo1.ttf');
// }

.layout {
    height: 100%;
    .header {
        height: 70px;
        line-height: 60px;
        font-size: 20px;
        color: white;
        background: #00152a;
        background: -webkit-linear-gradient(top , rgb(2, 37, 76) 0%, #00152a 100%);
        background: -moz-linear-gradient(top , rgb(2, 37, 76) 0%, #00152a 100%);
        background: -o-linear-gradient(top , rgb(2, 37, 76) 0%, #00152a 100%);
        background: linear-gradient(to bottom, rgb(2, 37, 76) 0%, #00152a 100%);
        
        span:nth-of-type(2) {
            float: right;
            &>i {
                margin-right: 30px;
                cursor: pointer;
            }
            span {
                margin-right: 25px;
                cursor: pointer;
            }
        }
    }
    .content {
        position: relative;
        height: calc(100% - 70px);
        .nav-content {
            button{
                position: absolute;
                bottom: 15px;
                left: 50%;
                margin: 0 0 0 -11px;
                color: #59646d;
                background-color: #000204;
                border-color: #000914;
                padding: 0;
                font-size: 20px;
            }
            button:hover{
                color: #fff;
            }
            position: absolute;
            width: 150px;
            height: 100%;
            left: 0;
            top: 0;
            background: #011529;
            background: -webkit-linear-gradient(bottom , #00152a 0%, #00152a 30%, #000913 75%, #000000 100%);
            background: -moz-linear-gradient(bottom , #00152a 0%, #00152a 30%, #000913 75%, #000000 100%);
            background: -o-linear-gradient(bottom , #00152a 0%, #00152a 30%, #000913 75%, #000000 100%);
            background: linear-gradient(to bottom, #00152a 0%, #00152a 30%, #000913 75%, #000000 100%);
            a {
                color: #fff;
            }
        }
        .page-content {
            width: 100%;
            height: 100%;
            padding-left: 150px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    }
}

.fullScreen {
    .content {
        .nav-content {
            display: none;
        }
        .page-content {
            padding-left: 0px;
            background-image: url(./images/bg.jpg);
            background-size: cover;
        }
    }
    .ant-tabs-bar {
        display: none;
    }
    .ant-tabs {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        .ant-tabs-content {
            height: 100%;
            .ant-tabs-tabpane-active {
                height: 100%;
            }
        }
    }
}

.operate-wrap, .permission-wrap{
    button{
        margin-right: 10px;
    }
}

/** load **/
.ajax-loading{
    display: none;
    .loading{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding:0 40px;
      height: 80px;
      line-height: 80px;
      background: rgba(0, 0, 0, 0.75);
      border-radius: 6px;
      text-align: center;
      z-index: 9999;
      color:#fff;
      img{
        width: 32px;
        vertical-align: middle;
      }
      span{
        margin-left:12px;
      }
    }
    .overlay{
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 9998;
      background: rgb(255, 255, 255);
      opacity: 0.1;
    }
  }
  
  /****/

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
    background: #eeeeee;
    /* color: white; */
    border: 1px solid #ffffff;
    padding: 0 40px 0 40px;
    box-shadow: inset 0px -15px 0px #e9e9e9c4;
    margin-right: 4px;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
    color: #0061b9 !important;
    background: #ffffff;
    box-shadow: none;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active div {
    font-weight: bold;
    letter-spacing: 5px;
}

.ant-tabs-extra-content{
    display: none;
}

.ant-tabs-bar {
    background: #001529;
}

.ant-menu-item.hide {
    display: none;
}

.ant-dropdown{
    top: 60px !important;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab .ant-tabs-close-x {
    width: 16px;
    height: 16px;
    height: 16px;
    margin-right: -5px;
    margin-left: 3px;
    position: absolute;
    right: 14px;
    top: 12px;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-content > .ant-tabs-tabpane, .ant-tabs.ant-tabs-editable-card .ant-tabs-card-content > .ant-tabs-tabpane{
    padding: 0 15px;
}

.content-wrap{
    margin-top: 10px;
}

.ant-card-body {
    padding: 10px !important;
}

.ant-avatar-lg:hover {
    background-color: #5daffc !important;
}

.ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    height: 50px;
    line-height: 50px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background: #1890ff;
    background: -webkit-linear-gradient(right , #1890ff 0%, #0d7ade 75%, #0265bf 100%);
    background: -moz-linear-gradient(right , #1890ff 0%, #0d7ade 75%, #0265bf 100%);
    background: -o-linear-gradient(right , #1890ff 0%, #0d7ade 75%, #0265bf 100%);
    background: linear-gradient(to right, #1890ff 0%, #0d7ade 75%, #0265bf 100%);
}

// .ant-table {
//     border-bottom: 1px solid #e8e8e8;
//     border-right: 1px solid #e8e8e8;
//     border-radius: 2px;
// }

// 对账单表名
.ant-table.ant-table-bordered .ant-table-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    letter-spacing: 5px;
}

// 对账单表尾
.ant-col-8, .ant-col-6 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

// 导出按钮
.download-table-xls-button{
    float: right;
}

.ant-table-footer .download-table-xls-button{
    float: none;
}